@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(229, 201, 16, 0);
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}

/* Styling the header */
.header {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    /* text-align: center; */
    font-size: 0.8em;
    padding: 10px 20px;
}
.header .logo_title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  background-color: rgb(50, 209, 92);
  border-radius: 1.1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0.5rem;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 10s linear infinite;
}


.header .logo_title img {
  object-fit: contain;
  max-height: 100px;
  min-height: 50px;
}

.header .logo_title h1{
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 1.2rem 0;
    flex-wrap: wrap;

}


.nav div a {
    padding: 10px;
    display: block;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    width: 150px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #fff700;
    font-family: 'Lato', sans-serif;
}

.nav li:last-child {
    margin-right: 0;
}

.nav a:hover {
    background-color: rgb(50, 209, 92);
    transition: 0.3s ease-in;
    color: #000000;
    font-weight: 600;
    transition: 0.5s ease-in;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hero {
    background-image: url(https://c.files.bbci.co.uk/17EF0/production/_114323089_transportlagostraffic.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    position: relative;
  }
  
  .hero-overlay {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  .hero-content {
    color: #fff;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  
  .hero-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
  }
  









/* The footer section */
footer {
    text-align: center;
}


@media screen and (min-width: 970px) {
  .header .logo_title {
    color: #fff;
    justify-content: space-between;
    /* background-color: rgb(221, 223, 225); */
    border-radius: 1.1rem;
    padding: 15px 100px;
    background-color: rgb(50, 209, 92);
    
  }
  .header .logo_title h2 {
    font-size: 1.5rem;
  }
}